.navbar .navbar-brand
{
    font-weight: bolder;
    font-size: xx-large;
    color:#808000;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* Optional: Set a higher z-index value to ensure the navbar is above other elements */
  }
  
